body {
  margin: 0;
  height: 100vh;
}
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

.container {
  display: flex;
  background-color: var(--base-color);
  justify-content: space-between;
  justify-items: center;
  padding: 20;
  margin-bottom: 1px;
}

.page-logo {
  height: 30px;
}

.logo-alura {
  height: 20px;
}

.text-principal {
  background-color: var(--base-color-second);
  font-family: 'DM Sans', sans-serif;
}
