.container {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 200px;
  height: 200px;
  padding: 10px;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
